/.venv
/index (2).html
/index (3).html
/index (4).html
/index (5).html
/index.html
/invoice-test
/invoice-tracker (1).html
/invoice-tracker-1.html
/invoice-tracker.html
/Saudi-banking-credit-dashboard
/upload.py
/__pycache__